/* resets */

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
    margin: 0px;
}

/* nav */

.navbar-nav .nav-link {
    margin: 0px 0.35rem;
}

.span-link:hover {
    cursor: pointer;
}

.span-link .fa-exclamation-triangle {
    color: #efef38c9;
    opacity: 0.75;
}

.span-link .fa-redo-alt {
    color: #b32121a3;
    opacity: 0.75;
}

.span-link:hover .fa-exclamation-triangle,
.span-link:hover .fa-redo-alt {
    opacity: 1;
}

/* router */

.route-wrapper {
    height: '100%';
    overflow: 'auto';
}

.router-outlet {
    margin-bottom: 60px;
}

/* card */

.w-25 {
    min-width: 200px;
}

.card-img-top {
    height: 200px;
}

.card-text {
    text-overflow: clip;
    overflow: hidden;
    height: 20vh;
}

.card.demo-card {
    -webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
}

.card.demo-card:hover {
    -webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.75);
    -webkit-transition: box-shadow 2s ease-out;
    -moz-transition: box-shadow 2s ease-out;
    -o-transition: box-shadow 2s ease-out;
    transition: box-shadow 2s ease-out;
}

.card.demo-card .button-group .btn.btn-danger {
    margin-right: 0.5em;
}